@charset "utf-8";
#wrapper {
	height: auto;
	width: 1410px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#wrappercal {
	float: left;
	height: 680px;
	width: 900px;
	margin-top: 5px;
}
#masterTAB {
	background-image: url(images/Master-tab.jpg);
	height: 40px;
	width: 75px;
	float: left;
	margin-top: 5px;
}
#addTAB {
	background-image: url(images/Add-tab.jpeg);
	float: left;
	height: 40px;
	width: 75px;
	margin-top: 5px;
}
#logo {
	float: left;
	height: 80px;
	width: 150px;
	background-image: url(images/STR-Logo.jpg);
}



#lowerbanner {
	height: 95px;
	width: 900px;
	margin-top: 5px;
	background-color: #9FC;
}


#headline {
	background-color: #FC0;
	height: 80px;
	width: 1410px;
}
#boxtest {
	background-color: #099;
	float: left;
	height: 85px;
	width: 85px;
}

#leftbox {
	float: left;
	height: 850px;
	width: 250px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #F33;
}
#footer {
	background-color: #99F;
	clear: both;
	float: left;
	height: 20px;
	width: 1410px;
	margin-top: 5px;
}

#calmaster1 {
	float: left;
	width: 595px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #999;
	height: 550px;
}
#formhead {
	height: 40px;
	width: 595px;
}

#calnavigation {
	height: 45px;
	width: 700px;
}

#boxtest2 {
	background-color: #F90;
	height: 85px;
	width: 85px;
	float: left;
}

#rightbox {
	float: left;
	height: 850px;
	width: 250px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	background-color: #6F9;
}
#artistimage {
	float: left;
	height: 140px;
	width: 120px;
	margin-top: 10px;
	margin-left: 10px;
}
#artistbio {
	float: left;
	height: 140px;
	width: 400px;
	margin-top: 10px;
	margin-left: 20px;
}
#tourlist {
	clear: both;
	height: 350px;
	width: 450px;
	margin-top: 30px;
	float: left;
	margin-left: 60px;
}
